a.qui {
	text-decoration: none;
}

div.contenitore {
	margin-top: 0px;
	padding-top: 0px;
}

div.lel {
	background-color: #eee;
	margin-bottom: 0%;
}

div.vita {
	margin: 5%;
	margin-top: 0%;
}

p.text-right {
	font-size: 80%;
	margin-right: 5%;
}